/*Globals */

body {
  margin: 0;
  padding: 0;
}

h1 {
  /* font-family: ; */
}

header {
  background-image: url("https://images.unsplash.com/photo-1508612227635-e7cbb9bdf54d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=77a3b002e25d8ae4e281a8515017aaf4&auto=format&fit=crop&w=2520&q=80");
  background-size: cover;
  height: 600px;
  width: 100%;
  display: block;
}

h1 {
  margin: 0;
  color: #fff;
}

nav {
  display: flex;
}
